:root {
    --red: #ff6b6b;
    --blue: #54a0ff;
    --green: #1dd1a1;
    --purple: #5f27cd;
    --modal-bg: #222f3e;
    --white: white;
}

/* presets  */

html,
body {
    margin: 0px;
    padding: 0px;
}




* {
    box-sizing: border-box;
}

/* html{
    font-size: 20px;
} */

/*tool box css  */
.toolbox-cont {
    height: 5rem;
    background-color: var(--modal-bg);
    display: flex;
    /* vertically center */
    align-items: center;
    /* just give space b/w flex element */
    gap: 3rem;
}

.toolbox-priority-cont {
    background-color: lightblue;
    height: 3rem;
    width: 15rem;
    margin-left: 7rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.color {
    height: 60%;
    width: 20%
}

.red {
    background-color: var(--red);
}

.blue {
    background-color: var(--blue);
}

.green {
    background-color: var(--green);
}

.purple {
    background-color: var(--purple);
}

.action-btn-cont {
    background-color: lightblue;
    height: 60%;
    width: 10rem;
    display: flex;
}

.add-btn,
.remove-btn {
    width: 50%;
    height: 100%;
    border: 1px solid gray;
    display: flex;
    align-items: center;
    justify-content: center;
}

.largeicon {
    font-size: 1.8rem;
}

.main-cont {
    padding-top: 3rem;
    padding-left: 2rem;
    padding-right: 2rem;
    display: flex;
    justify-content: space-around;
    /* if width is not enough for some elments 
    then they will be moved to the subsequent rows */
    flex-wrap: wrap;
    row-gap: 2rem;
}

/* ********ticket *********************/
.ticket-cont {
    height: 10rem;
    width: 15rem;
    background-color: aliceblue;
    border: 1px solid gray;
    position: relative;
}

.ticket-color {
    height: 10%;

}

.ticket-id {
    height: 10%;
    font-weight: 600;
    padding-left: 4px;
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 0.8rem;
}

.ticket-area {
    height: 70%;
    padding-left: 4px;
    padding-right: 4px;
    overflow: scroll;
}

.lock_icon {
    position: absolute;
    right: 0.5rem;
    bottom: 0.5rem;
}



/*modal container  */
.modal-cont {
    height: 25rem;
    width: 40rem;
    background-color: var(--modal-bg);
    position: fixed;
    /* 25 % of visible width of browser window */
    left: 25vw;
    /* 25% of visible height of  */
    top: 25vh;

    display: flex;
    display: none;
}

.textarea-cont {
    height: 100%;
    width: 75%;
    font-size:1.5rem;
    font-family:sans-serif ;
    padding:1rem;
    resize: none;
}

.priority-color-cont {
    height: 100%;
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

}

.color_modal {
    height: 15%;
    width: 70%;
}

.selected {
    border: 5px solid var(--white);
}


/* 
1rem : font size of html
what is the usecase : you have relative unit whose scale
can be controlled from a single point 
percentages  :  (value/totalval)*100;

100acres : 30% of that land 
*/